.login-form-container {
  display: flex;
  height: 100vh;
}

.left-container {
  flex: 1;
  background-image: url("/assets/background.jpg");
  background-size: cover;
  background-position: center;
}

.right-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
}

.logo {
  margin-bottom: 50px;
  width: 250px;
  height: auto;
}

.input-container {
  width: 100%;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-field {
  margin-bottom: 20px;
  align-items: flex-start;
}
