button {
  width: 185px;
  height: 53px;
  padding: 10px 20px;
  margin-top: 50px;
  border: none;
  border-radius: 20px;
  background-color: #c69366;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: #896444;
  }
}
